<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.todo.mapper.OaTodoItemMapper">

    <resultMap type="OaTodoItem" id="OaTodoItemResult">
        <result property="todoId"     column="todo_id"     />
        <result property="bizType"    column="biz_type"    />
        <result property="bizId"      column="biz_id"      />
        <result property="title"      column="title"      />
        <result property="todoType"   column="todo_type"   />
        <result property="submitter"  column="submitter"  />
        <result property="handlerId"  column="handler_id"  />
        <result property="priority"   column="priority"   />
        <result property="status"     column="status"     />
        <result property="dueTime"    column="due_time"    />
        <result property="submitTime" column="submit_time" />
    </resultMap>

    <sql id="selectOaTodoItemVo">
        select todo_id, biz_type, biz_id, title, todo_type, submitter, handler_id,
               priority, status, due_time, submit_time
        from todo_item
    </sql>

    <select id="selectOaTodoItemList" parameterType="OaTodoItem" resultMap="OaTodoItemResult">
        <include refid="selectOaTodoItemVo"/>
        <where>
            <if test="title != null and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="bizType != null and bizType != ''"> and biz_type = #{bizType}</if>
            <if test="bizId != null"> and biz_id = #{bizId}</if>
            <if test="todoType != null and todoType != ''"> and todo_type = #{todoType}</if>
            <if test="submitter != null and submitter != ''"> and submitter = #{submitter}</if>
            <if test="handlerId != null"> and handler_id = #{handlerId}</if>
            <if test="priority != null and priority != ''"> and priority = #{priority}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
        order by submit_time desc
    </select>

    <select id="selectOaTodoItemById" parameterType="Long" resultMap="OaTodoItemResult">
        <include refid="selectOaTodoItemVo"/>
        where todo_id = #{todoId}
    </select>

    <insert id="insertOaTodoItem" parameterType="OaTodoItem" useGeneratedKeys="true" keyProperty="todoId">
        insert into todo_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizType != null">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="title != null">title,</if>
            <if test="todoType != null">todo_type,</if>
            <if test="submitter != null">submitter,</if>
            <if test="handlerId != null">handler_id,</if>
            <if test="priority != null">priority,</if>
            <if test="status != null">status,</if>
            <if test="dueTime != null">due_time,</if>
            <if test="submitTime != null">submit_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizType != null">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="title != null">#{title},</if>
            <if test="todoType != null">#{todoType},</if>
            <if test="submitter != null">#{submitter},</if>
            <if test="handlerId != null">#{handlerId},</if>
            <if test="priority != null">#{priority},</if>
            <if test="status != null">#{status},</if>
            <if test="dueTime != null">#{dueTime},</if>
            <if test="submitTime != null">#{submitTime},</if>
        </trim>
    </insert>

    <update id="updateOaTodoItem" parameterType="OaTodoItem">
        update todo_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="bizType != null">biz_type = #{bizType},</if>
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="todoType != null">todo_type = #{todoType},</if>
            <if test="submitter != null">submitter = #{submitter},</if>
            <if test="handlerId != null">handler_id = #{handlerId},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="status != null">status = #{status},</if>
            <if test="dueTime != null">due_time = #{dueTime},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
        </trim>
        where todo_id = #{todoId}
    </update>

    <delete id="deleteOaTodoItemById" parameterType="Long">
        delete from todo_item where todo_id = #{todoId}
    </delete>

    <delete id="deleteOaTodoItemByIds" parameterType="String">
        delete from todo_item where todo_id in
        <foreach item="todoId" collection="array" open="(" separator="," close=")">
            #{todoId}
        </foreach>
    </delete>
</mapper>