<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.approval.mapper.OaApprovalFlowMapper">

    <resultMap type="OaApprovalFlow" id="OaApprovalFlowResult">
        <result property="flowId"     column="flow_id"     />
        <result property="applyId"    column="apply_id"    />
        <result property="nodeName"   column="node_name"   />
        <result property="nodeOrder"  column="node_order"  />
        <result property="handler"    column="handler"    />
        <result property="handleTime" column="handle_time" />
        <result property="comment"    column="comment"    />
        <result property="status"     column="status"     />
    </resultMap>

    <sql id="selectOaApprovalFlowVo">
        select flow_id, apply_id, node_name, node_order, handler, handle_time, comment, status
        from approval_flow
    </sql>

    <select id="selectOaApprovalFlowList" parameterType="OaApprovalFlow" resultMap="OaApprovalFlowResult">
        <include refid="selectOaApprovalFlowVo"/>
        <where>
            <if test="applyId != null"> and apply_id = #{applyId}</if>
        </where>
        order by node_order
    </select>

    <select id="selectFlowByApplyId" parameterType="Long" resultMap="OaApprovalFlowResult">
        <include refid="selectOaApprovalFlowVo"/>
        where apply_id = #{applyId}
        order by node_order
    </select>

    <select id="selectOaApprovalFlowById" parameterType="Long" resultMap="OaApprovalFlowResult">
        <include refid="selectOaApprovalFlowVo"/>
        where flow_id = #{flowId}
    </select>

    <insert id="insertOaApprovalFlow" parameterType="OaApprovalFlow" useGeneratedKeys="true" keyProperty="flowId">
        insert into approval_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">apply_id,</if>
            <if test="nodeName != null">node_name,</if>
            <if test="nodeOrder != null">node_order,</if>
            <if test="handler != null">handler,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="comment != null">comment,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null">#{applyId},</if>
            <if test="nodeName != null">#{nodeName},</if>
            <if test="nodeOrder != null">#{nodeOrder},</if>
            <if test="handler != null">#{handler},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="comment != null">#{comment},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateOaApprovalFlow" parameterType="OaApprovalFlow">
        update approval_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="handler != null">handler = #{handler},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteOaApprovalFlowById" parameterType="Long">
        delete from approval_flow where flow_id = #{flowId}
    </delete>

    <delete id="deleteFlowByApplyId" parameterType="Long">
        delete from approval_flow where apply_id = #{applyId}
    </delete>
</mapper>