<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.contacts.mapper.OaContactPersonMapper">

    <resultMap type="OaContactPerson" id="OaContactPersonResult">
        <result property="personId"    column="person_id"    />
        <result property="name"        column="name"        />
        <result property="deptId"      column="dept_id"      />
        <result property="deptName"    column="dept_name"    />
        <result property="post"        column="post"        />
        <result property="phone"       column="phone"       />
        <result property="email"       column="email"       />
        <result property="officePhone" column="office_phone" />
    </resultMap>

    <sql id="selectOaContactPersonVo">
        select person_id, name, dept_id, dept_name, post, phone, email, office_phone
        from contact_person
    </sql>

    <select id="selectOaContactPersonList" parameterType="OaContactPerson" resultMap="OaContactPersonResult">
        <include refid="selectOaContactPersonVo"/>
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="deptId != null"> and dept_id = #{deptId}</if>
            <if test="post != null and post != ''"> and post like concat('%', #{post}, '%')</if>
        </where>
        order by dept_id, person_id
    </select>

    <select id="selectOaContactPersonById" parameterType="Long" resultMap="OaContactPersonResult">
        <include refid="selectOaContactPersonVo"/>
        where person_id = #{personId}
    </select>

    <insert id="insertOaContactPerson" parameterType="OaContactPerson" useGeneratedKeys="true" keyProperty="personId">
        insert into contact_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="post != null">post,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="officePhone != null">office_phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="post != null">#{post},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="officePhone != null">#{officePhone},</if>
        </trim>
    </insert>

    <update id="updateOaContactPerson" parameterType="OaContactPerson">
        update contact_person
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="post != null">post = #{post},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="officePhone != null">office_phone = #{officePhone},</if>
        </trim>
        where person_id = #{personId}
    </update>

    <delete id="deleteOaContactPersonById" parameterType="Long">
        delete from contact_person where person_id = #{personId}
    </delete>

    <delete id="deleteOaContactPersonByIds" parameterType="String">
        delete from contact_person where person_id in
        <foreach item="personId" collection="array" open="(" separator="," close=")">
            #{personId}
        </foreach>
    </delete>
</mapper>